.about-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.about-layout {
  display: flex;
}

.about-text {
  text-align: justify;
  font-size: 20px;  
}

.backToHome {
  padding: 20px;
  display: flex;
}