.tabs-container {
  height: 200px;
  width: 90%;
  padding-left: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tab-button {
  font-size: 35px;
    background: #F2724F;
    border: 1px solid #F2724F;
    color: #fff;
    padding: 10px;
}

.button1 {
  padding: 10px 35px 10px 35px;
}